In [0]:
import pandas as pd
import statsmodels.api as sm

In [0]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
csvfile = 'drive/My Drive/Colab Notebooks/Travel Pony Facebook.csv'
adataframe = pd.read_csv(csvfile)

In [0]:
adataframe.head()

   Start Date  ... Cost per Page Engagement (USD)
0  2013-12-02  ...                       1.219512
1  2013-12-01  ...                       1.395349
2  2013-11-30  ...                       1.190476
3  2013-11-29  ...                       1.167315
4  2013-11-22  ...                       2.512857

[5 rows x 20 columns]

In [1]:
#Create new column 'cost per impression'
adataframe['cost per impression'] = adataframe['Amount Spent (USD)'] / adataframe['Impressions']

NameError: ignored

In [0]:
adataframe.head()

   Start Date    End Date  ... Cost per Page Engagement (USD) cost per impression
0  2013-12-02  2013-12-02  ...                       1.219512            0.000466
1  2013-12-01  2013-12-01  ...                       1.395349            0.000652
2  2013-11-30  2013-11-30  ...                       1.190476            0.000448
3  2013-11-29  2013-11-29  ...                       1.167315            0.000452
4  2013-11-22  2013-11-22  ...                       2.512857            0.002464

[5 rows x 21 columns]

In [0]:
#Question 1

When considering 'cost per impression', what day of the week works best? (What day is it cheapest to generate impressions) 
What day works worst? (What day is most expensive)

To answer this question, you're going to want to take the "Start Date" column and extract out the day of week. This would take a bit of messing around to parse the dates directly in Python, so you might try using a date parsing library like arrow (https://arrow.readthedocs.io/en/latest/). With arrow, your parsing code will look something like:

In [0]:
adataframe['Start Date'] = pd.to_datetime(adataframe['Start Date'], format="%Y-%m-%d")

adataframe['Day of week(int)'] = adataframe['Start Date'].dt.weekday

adataframe['Day of week (str)'] = adataframe['Start Date'].dt.day_name()

In [0]:
adataframe.head()

  Start Date    End Date  ... Day of week(int) Day of week (str)
0 2013-12-02  2013-12-02  ...                0            Monday
1 2013-12-01  2013-12-01  ...                6            Sunday
2 2013-11-30  2013-11-30  ...                5          Saturday
3 2013-11-29  2013-11-29  ...                4            Friday
4 2013-11-22  2013-11-22  ...                4            Friday

[5 rows x 23 columns]

In [0]:
target = adataframe['cost per impression']
dep = adataframe[['Day of week(int)']]
mod = sm.OLS(target, dep)
ols = mod.fit() #fitting the model
print(ols.summary())



#DID NOT USE THIS IN MY ANSWERS

                                 OLS Regression Results
========================================================================================
Dep. Variable:     cost per impression   R-squared (uncentered):                   0.087
Model:                             OLS   Adj. R-squared (uncentered):              0.087
Method:                  Least Squares   F-statistic:                              353.0
Date:                 Wed, 13 Nov 2019   Prob (F-statistic):                    2.63e-75
Time:                         18:29:28   Log-Likelihood:                          12195.
No. Observations:                 3705   AIC:                                 -2.439e+04
Df Residuals:                     3704   BIC:                                 -2.438e+04
Df Model:                            1
Covariance Type:             nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Day of week(int)     0.0008   4.21e-05     18.790      0.000       0.001       0.001
==============================================================================
Omnibus:                     8280.985   Durbin-Watson:                   1.908
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         61439512.036
Skew:                          20.468   Prob(JB):                         0.00
Kurtosis:                     632.534   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [0]:
adataframe.groupby('Day of week(int)')[['cost per impression']].mean()

                  cost per impression
Day of week(int)
0                            0.002910
1                            0.003040
2                            0.002981
3                            0.003398
4                            0.004097
5                            0.002629
6                            0.003688

In [0]:
#Question 1 Answer: (Day 0 = Monday, Day 1= Tuesday, Day 2= Wed, Day 3 = Thurds, Day 4= Friday, Day 5 = Saturday, Day 6 = Sunday)

# Cheapest day to generate impressions = Saturday(.002629) 
# Worst day to generate impressions (most expensive) =  Friday (.004097)

In [0]:
#Question 2

Next, compute the correlation (Links to an external site.) between Amount Spent and the following variables:
- Reach
- Frequency 
- Unique Clicks
- Page Likes

Which correlation is the strongest? What does that mean practically? (respond in a tweet or less)

In [0]:
target = adataframe['Amount Spent (USD)']
dep = adataframe[['Reach','Frequency','Unique Clicks','Page Likes']]
mod = sm.OLS(target, dep)
ols = mod.fit() #fitting the model
print(ols.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     Amount Spent (USD)   R-squared (uncentered):                   0.905
Model:                            OLS   Adj. R-squared (uncentered):              0.905
Method:                 Least Squares   F-statistic:                              8800.
Date:                Wed, 13 Nov 2019   Prob (F-statistic):                        0.00
Time:                        16:50:13   Log-Likelihood:                         -13145.
No. Observations:                3705   AIC:                                  2.630e+04
Df Residuals:                    3701   BIC:                                  2.632e+04
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Reach             0.0006   2.14e-05     29.866      0.000       0.001       0.001
Frequency         0.3320      0.144      2.302      0.021       0.049       0.615
Unique Clicks     0.4700      0.009     50.918      0.000       0.452       0.488
Page Likes        4.0329      0.066     60.772      0.000       3.903       4.163
==============================================================================
Omnibus:                     2894.230   Durbin-Watson:                   1.868
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           397737.734
Skew:                           2.931   Prob(JB):                         0.00
Kurtosis:                      53.419   Cond. No.                     1.02e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [0]:
#Answer to Q2(Interpretation):



#The strongest correlation is between Amount Spent and Page Likes. The more page an Advertiser spends on their campaigns, the more page likes they will likely receive.

In [0]:
#Question 3

Finally, perform a simple multiple regression analysis (Links to an external site.) where Unique Clicks is the dependent variable and Reach and Frequency are the independent (predictor) variables.

What variable most strongly predicts unique clicks? What does that mean practically? (respond in a tweet or less)

In [0]:
target = adataframe['Unique Clicks']
dep = adataframe[['Reach','Frequency']]
mod = sm.OLS(target, dep)
ols = mod.fit() #fitting the model
print(ols.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.557
Model:                            OLS   Adj. R-squared (uncentered):              0.556
Method:                 Least Squares   F-statistic:                              2325.
Date:                Wed, 13 Nov 2019   Prob (F-statistic):                        0.00
Time:                        17:40:29   Log-Likelihood:                         -15973.
No. Observations:                3705   AIC:                                  3.195e+04
Df Residuals:                    3703   BIC:                                  3.196e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Reach          0.0019   3.12e-05     62.490      0.000       0.002       0.002
Frequency      3.6139      0.298     12.109      0.000       3.029       4.199
==============================================================================
Omnibus:                     5107.616   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5128392.747
Skew:                           7.331   Prob(JB):                         0.00
Kurtosis:                     184.674   Cond. No.                     9.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [0]:
#Answer to Q3(Interpretation): Unique Clicks is most strongly affected by Frequency. To increase Unique Clicks, they should increase the Frequency of their ads, rather than increasing their reach as this would be less affective.